{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <h1 class="mt-5">{{ article.id }}の投稿詳細ページ</h1>
    <div class="card bg-light shadow_sm mt-3">
        <div class="card-body">
            <p>{{ article.author }}：{{ article.created_at }}</p>
            <p>最終更新：{{ article.update_at }}</p>
            <p>{{ article.content }}</p>
            {% if article.image %}
                <img src="{{ article.image.url }}" class="img-fluid mt-2" alt="投稿画像">
            {% endif %}
        <a href="{% url "bbs:update" article.pk %}">{% bootstrap_button button_type="submit" button_class="btn-success" content="編集" size="md"%}</a>
        <a href="{% url "bbs:delete" article.pk %}">{% bootstrap_button button_type="submit" button_class="btn-danger" content="削除" size="md"%}</a>
        </div></div>
    </div>
    <div class="mt-3">
        <p><a href="{% url 'bbs:index' %}">{% bootstrap_button button_type="submit" button_class="btn-secondary" content="一覧へ戻る" size="md"%}</a></p>
    </div>
{% endblock content %}

